<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-and-explore-data" data-toc-modified-id="Import-and-explore-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import and explore data</a></span><ul class="toc-item"><li><span><a href="#Handle-errors-and-missing-entries" data-toc-modified-id="Handle-errors-and-missing-entries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Handle errors and missing entries</a></span></li><li><span><a href="#Handling-duplicate-entries" data-toc-modified-id="Handling-duplicate-entries-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Handling duplicate entries</a></span></li><li><span><a href="#Load-race-specific-variables" data-toc-modified-id="Load-race-specific-variables-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Load race-specific variables</a></span></li><li><span><a href="#Set-up-RD" data-toc-modified-id="Set-up-RD-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Set up RD</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
import matplotlib.pyplot as plt

## Import and explore data

In [6]:
df = pd.read_csv('../data/dfm_20201022.csv')
print(df.isnull().sum())
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

athleteid            11852
athletename             82
accountname          17575
gender                 276
country              16434
division                34
seriesid                 0
raceid                   0
racename                 0
raceyear                 0
racedate                 0
bib_n                    0
swimtime             20252
trans1time           27058
biketime             25843
trans2time           33431
runtime              54774
overalltime          55156
overallrank          52435
overallrankdiv       54510
overallrankgender    55450
finish                   0
autokonaqual             0
dtype: int64

,athleteid,athletename,accountname,gender,country,division,seriesid,raceid,racename,raceyear,racedate,bib_n,swimtime,trans1time,biketime,trans2time,runtime,overalltime,overallrank,overallrankdiv,overallrankgender,finish,autokonaqual
0,23786.0,Joe Skipper,Joe Skipper,Male,United Kingdom,MPRO,26.0,209.0,Ironman UK 2013,2013.0,2013-08-03,12.0,2977.0,142.0,18059.0,100.0,10631.0,31909.0,3.0,3.0,3.0,FIN,0.0
1,23786.0,Joe Skipper,Joe Skipper,Male,United Kingdom,MPRO,9.0,224.0,Ironman Florida 2013,2013.0,2013-11-02,57.0,3298.0,232.0,15630.0,140.0,10547.0,29847.0,10.0,10.0,10.0,FIN,0.0
2,23786.0,Joe Skipper,Joe Skipper,Male,United Kingdom,MPRO,14.0,234.0,Ironman Lanzarote 2014,2014.0,2014-05-16,62.0,3211.0,228.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNF,0.0
3,23786.0,Joe Skipper,Joe Skipper,Male,United Kingdom,MPRO,26.0,241.0,Ironman UK 2014,2014.0,2014-07-19,6.0,3077.0,169.0,18244.0,102.0,10100.0,31692.0,2.0,2.0,2.0,FIN,0.0
4,23786.0,Joe Skipper,Joe Skipper,Male,United Kingdom,MPRO,44.0,270.0,Ironman Barcelona 2014,2014.0,2014-10-04,10.0,3389.0,171.0,16369.0,58.0,10052.0,30039.0,6.0,6.0,6.0,FIN,0.0

In [8]:
# integer vars

for v in ['seriesid', 'raceid', 'raceyear', 'bib_n', 'autokonaqual']:
    df[v] = np.array(df[v], dtype='int')

In [9]:
# examine finishers by year
display(pd.crosstab(df.raceyear, df.finish, margins='all'))

# examine percent finishers by year
display(pd.crosstab(df.raceyear, df.finish, normalize='index'))

finish      DNF    DQ     FIN     All
raceyear
2010       3367     6   36857   40230
2011       3590     2   41603   45195
2012       4415    30   48510   52955
2013       4381   195   55104   59680
2014       5079   367   66093   71539
2015       6495   425   65479   72399
2016       5172   388   65331   70891
2017       5477   264   64445   70186
2018       6263   438   65878   72579
2019       7385   339   64988   72712
2020        116     2    2047    2165
All       51740  2456  576335  630531

finish         DNF        DQ       FIN
raceyear
2010      0.083694  0.000149  0.916157
2011      0.079434  0.000044  0.920522
2012      0.083373  0.000567  0.916061
2013      0.073408  0.003267  0.923324
2014      0.070996  0.005130  0.923874
2015      0.089711  0.005870  0.904419
2016      0.072957  0.005473  0.921570
2017      0.078036  0.003761  0.918203
2018      0.086292  0.006035  0.907673
2019      0.101565  0.004662  0.893773
2020      0.053580  0.000924  0.945497

In [10]:
# number of race-years
print(len(df.racename.unique()))
print(len(df[['racename', 'racedate']].drop_duplicates()))

# number of races by year
display(df[['racename', 'raceyear']].drop_duplicates().raceyear.value_counts().sort_index())

# number of years by race venue
df['venuename'] = df.racename.apply(lambda x: x[8:-5])
display(df[['venuename', 'raceyear']].drop_duplicates().venuename.value_counts())

345
345

2010    21
2011    23
2012    28
2013    30
2014    37
2015    42
2016    40
2017    40
2018    41
2019    40
2020     3
Name: raceyear, dtype: int64

Florida                   10
Western Australia         10
Cozumel                   10
UK                        10
Austria                   10
Wisconsin                 10
South Africa              10
Louisville                10
man World Championship    10
New Zealand               10
Lake Placid               10
Canada                    10
Lanzarote                 10
Frankfurt                 10
Arizona                   10
Australia                 10
Switzerland               10
France                     9
Cairns                     9
Texas                      9
Wales                      9
Brazil                     9
Sweden                     8
Coeur d'Alene              8
Mont-Tremblant             8
Copenhagen                 7
Malaysia                   6
Boulder                    6
Maryland                   6
Barcelona                  6
Chattanooga                6
Los Cabos                  5
Taiwan                     5
Vichy                      5
Melbourne                  4
Maastricht-Limburg         4
Tallinn                    3
Argentina                  3
Mallorca                   3
Santa Rosa                 3
Japan                      3
Hamburg                    3
St George                  3
Fortaleza                  3
Italy                      3
Gurye                      2
Lake Tahoe                 2
Norway                     2
e Weymouth                 2
Regensburg                 2
China                      1
Muskoka                    1
North Carolina             1
Ireland                    1
Weymouth                   1
Vitoria-Gasteiz            1
New York                   1
Vineman                    1
Philippines                1
Name: venuename, dtype: int64

In [11]:
# clean swim times: set to zero if swim cancelled

# weird circumstances:
# Hamburg 2018: swim replaced with run

noswim_races =  ['Ironman Chattanooga 2018',
                 'Ironman Florida 2014',
                 'Ironman Hamburg 2018',
                 'Ironman Ireland 2019',
                 'Ironman Louisville 2019',
                 'Ironman Maryland 2016',
                 'Ironman Western Australia 2017',
                 'Ironman New Zealand 2006']

df['noswim'] = np.array(df.racename.isin(noswim_races), dtype='int')
print(df.noswim.value_counts() / len(df))


# if swim cancelled, set swim time to 0 instead of missing
df.loc[df.noswim == 1, 'swimtime'] = 0
df.loc[df.noswim == 1, 'trans1time'] = 0

0    0.977946
1    0.022054
Name: noswim, dtype: float64

In [12]:
# gen variable to designate races that were shortened or otherwise adjusted

short_races = noswim_races + [\
                'Ironman Argentina 2018', # swim shortened
                "Ironman Coeur d'Alene 2007", # swim optional, though not for WC qualification
                'Ironman Cozumel 2013', # swim shortened
                'Ironman France 2019', # bike and run shortened b/c heat
                'Ironman Lake Placid 2014', # swim shortened for amateurs only
                'Ironman Louisville 2018', # swim shortened
                'Ironman Lake Placid 2014', # swim shortened for 1/3 of amateurs
                'Ironman Maryland 2015', # swim shortened
                'Ironman Maryland 2016', # bike course shortened, swim cancelled
                'Ironman Melbourne 2013', # swim shortened
                'Ironman New Zealand 2006', # bike and run halved, swim cancelled
                'Ironman New Zealand 2012', # all three events halved
                'Ironman North Carolina 2016', # bike shortened
                'Ironman South Africa 2019', # swim shortened
                'Ironman Taiwan 2018', # swim shortened
                'Ironman Texas 2016', # bike shortened
                'Ironman Western Australia 2017'] # bike shortened for slower athletes only

# other weird stuff:
# Cozumel 2017/9, Louisville 2014, New York 2012 had irregularly fast currents during swim
# Texas 2017/8 bike short by 2 miles
# Florida 2018: Hurricane Michael caused change in data and venue, field size less than half of registrants
# St George 2012: Strong winds made for a particularly challenging swim, lots of DNFs
# Frankfurt 2019, Chattanooga 2016/9, etc: Super hot, strong influence on DNFs, particularly during run
                                
df['short'] = np.array(df.racename.isin(short_races), dtype='int')
print(df.short.value_counts() / len(df))

0    0.946842
1    0.053158
Name: short, dtype: float64

In [13]:
# check swim finishers per race
dfsub = df.loc[df.short == 0, ['racename', 'venuename', 'swimtime']]
display(pd.crosstab(dfsub.venuename, dfsub.swimtime > 0, normalize='index').sort_values(1))

# check a few of the offenders:
venuenames = ['St George', 
               'New York', 
               'Argentina', 
               'Florida', 
               'Vineman']
dfsub = dfsub.loc[dfsub.venuename.isin(venuenames), :]
display(pd.crosstab(dfsub.racename, dfsub.swimtime > 0, normalize='index').sort_values(1))

# check the worst races for DNFs
dfsub = df.loc[df.finish.isin(['DNF', 'FIN']), ['racename', 'finish']]
display(pd.crosstab(dfsub.racename, dfsub.finish, normalize='index').sort_values('FIN').head(20))

# Race temperature and winds likely affect performance enough that controlling for weather may
#  improve statistical power...
# When we pull water temperature data may be useful to get other weather data too.

swimtime                   False     True
venuename
Switzerland             0.031368  0.968632
France                  0.030586  0.969414
Lanzarote               0.027810  0.972190
Vichy                   0.026119  0.973881
Brazil                  0.024774  0.975226
Mallorca                0.023504  0.976496
Wales                   0.023284  0.976716
Boulder                 0.021580  0.978420
South Africa            0.020699  0.979301
New Zealand             0.020279  0.979721
Tallinn                 0.019505  0.980495
Santa Rosa              0.018843  0.981157
Fortaleza               0.018208  0.981792
Taiwan                  0.016627  0.983373
Barcelona               0.016097  0.983903
e Weymouth              0.015927  0.984073
Frankfurt               0.015601  0.984399
Italy                   0.015010  0.984990
Arizona                 0.014771  0.985229
Philippines             0.014605  0.985395
Vitoria-Gasteiz         0.011448  0.988552
Cozumel                 0.011167  0.988833
Austria                 0.010591  0.989409
Lake Tahoe              0.010126  0.989874
Maryland                0.009677  0.990323
Hamburg                 0.009376  0.990624
Lake Placid             0.009371  0.990629
Copenhagen              0.009101  0.990899
Los Cabos               0.008937  0.991063
Coeur d'Alene           0.008232  0.991768
UK                      0.007484  0.992516
Florida                 0.006963  0.993037
Vineman                 0.006959  0.993041
Maastricht-Limburg      0.006897  0.993103
Gurye                   0.006875  0.993125
Louisville              0.006361  0.993639
Wisconsin               0.006314  0.993686
man World Championship  0.006216  0.993784
Sweden                  0.006059  0.993941
Melbourne               0.005362  0.994638
Malaysia                0.004448  0.995552
Norway                  0.004353  0.995647
Mont-Tremblant          0.004176  0.995824
Weymouth                0.003881  0.996119
Canada                  0.003738  0.996262
Texas                   0.003618  0.996382
Japan                   0.003466  0.996534
Chattanooga             0.003361  0.996639
Western Australia       0.003248  0.996752
Cairns                  0.003211  0.996789
Argentina               0.003018  0.996982
Australia               0.001837  0.998163
Muskoka                 0.000891  0.999109
Regensburg              0.000322  0.999678
St George               0.000213  0.999787
New York                0.000000  1.000000
China                   0.000000  1.000000

swimtime                   False     True
racename
Ironman Florida 2018    0.022376  0.977624
Ironman Florida 2019    0.017011  0.982989
Ironman Florida 2010    0.008750  0.991250
Ironman Vineman 2016    0.006959  0.993041
Ironman Florida 2017    0.006316  0.993684
Ironman Argentina 2019  0.006270  0.993730
Ironman Florida 2013    0.003892  0.996108
Ironman Florida 2015    0.003725  0.996275
Ironman Florida 2016    0.002303  0.997697
Ironman Florida 2012    0.001946  0.998054
Ironman Argentina 2017  0.000981  0.999019
Ironman St George 2010  0.000530  0.999470
Ironman Florida 2011    0.000000  1.000000
Ironman New York 2012   0.000000  1.000000
Ironman St George 2011  0.000000  1.000000
Ironman St George 2012  0.000000  1.000000

finish                           DNF       FIN
racename
Ironman Frankfurt 2019      0.256975  0.743025
Ironman Wales 2011          0.255968  0.744032
Ironman Chattanooga 2016    0.253502  0.746498
Ironman Chattanooga 2019    0.238532  0.761468
Ironman Ireland 2019        0.232406  0.767594
Ironman China 2010          0.209091  0.790909
Ironman Lake Tahoe 2013     0.206833  0.793167
Ironman Frankfurt 2015      0.206233  0.793767
Ironman Canada 2018         0.203285  0.796715
Ironman Taiwan 2017         0.202532  0.797468
Ironman Switzerland 2010    0.194320  0.805680
Ironman St George 2012      0.187248  0.812752
Ironman Boulder 2018        0.187199  0.812801
Ironman Coeur d'Alene 2015  0.186971  0.813029
Ironman Vichy 2015          0.182069  0.817931
Ironman Brazil 2012         0.181872  0.818128
Ironman Lanzarote 2010      0.180777  0.819223
Ironman Malaysia 2019       0.180579  0.819421
Ironman Louisville 2018     0.178511  0.821489
Ironman Malaysia 2015       0.171812  0.828188

In [14]:
# fix kona year and dates for a few races
df.loc[df.racename == "Ironman St George 2011", 'konayear'] = 2011
df.loc[df.racename == "Ironman St George 2010", 'konayear'] = 2010
df.loc[df.racename == "Ironman Regensburg 2011", 'konayear'] = 2011
df.loc[df.racename == "Ironman Malaysia 2006", 'konayear'] = 2006
df.loc[df.racename == "Ironman Malaysia 2007", 'konayear'] = 2007
df.loc[df.racename == "Ironman China 2009", 'konayear'] = 2009
df.loc[df.racename == "Ironman China 2010", 'konayear'] = 2010
df.loc[df.racename == "Ironman China 2010", 'racedate'] = "14 Mar 2010"
df.loc[df.racename == "Ironman China 2009", 'racedate'] = "19 Apr 2009"
df.loc[df.racename == "Ironman Malaysia 2006", 'racedate'] = "26 Feb 2006"
df.loc[df.racename == "Ironman Malaysia 2007", 'racedate'] = "24 Feb 2007"

df['konayear'] = np.array(df.konayear, dtype='int')
print(df.konayear.isnull().sum())
print(df.konayear.value_counts().sort_index())

0
-2147483648    624794
 2010            2217
 2011            3520
Name: konayear, dtype: int64

### Load race-specific variables

In [19]:
# load df with slots per ag per race
dfs = pd.read_csv('../data/dfslot_full_wide.csv')
dfs.head()

,konayear,raceid,racename,F18-24,F25-29,F30-34,F35-39,F40-44,F45-49,F50-54,F55-59,F60-64,F65-69,F70-74,F75-79,F80+,FPC,FPRO,M18-24,M25-29,M30-34,M35-39,M40-44,M45-49,M50-54,M55-59,M60-64,M65-69,M70-74,M75-79,M80+,M80-84,MPC,MPRO
0,2018,415,Ironman Argentina 2017,1,1,1,1,2,2,1,1,1,0,0,0,0,0,0,1,2,3,5,5,5,3,2,1,1,1,0,0,0,0,0
1,2019,465,Ironman Argentina 2018,1,1,2,2,1,2,1,1,1,0,0,0,0,0,0,2,3,7,12,13,11,7,4,2,1,1,0,0,0,0,0
2,2013,1,Ironman Arizona 2012,1,2,2,2,3,2,2,2,1,1,0,0,0,0,0,1,2,4,5,6,4,3,2,2,1,1,1,0,0,0,0
3,2014,225,Ironman Arizona 2013,1,2,2,2,3,2,2,1,1,1,0,0,0,0,0,1,3,3,4,6,5,4,2,2,1,1,0,1,0,0,0
4,2015,260,Ironman Arizona 2014,1,2,2,2,3,3,2,1,1,1,1,0,0,0,0,1,2,3,4,5,5,3,2,2,1,1,1,1,0,0,0

In [22]:
# merge race-specific vars, like # finishers, % finishers

dfrace = df.copy()

# get dnf rates by sport - only count one sport for DNF
dfrace['swimdnf'] = np.array((dfrace.swimtime.isnull()) & (dfrace.finish == "DNF"), dtype='int')
dfrace['bikednf'] = np.array((dfrace.biketime.isnull()) & (dfrace.finish == "DNF") & \
                             (dfrace.swimdnf == 0), dtype='int')
dfrace['rundnf'] = np.array((dfrace.runtime.isnull()) & (dfrace.finish == "DNF") & \
                            (dfrace.bikednf + dfrace.swimdnf == 0), dtype='int')
dfrace['dnf'] = np.array((dfrace.finish == "DNF"), dtype='int')
dfrace['dq'] = np.array((dfrace.finish == "DQ"), dtype='int')

# get participant and finisher counts
dfrace['participants'] = np.array(dfrace.finish.notnull(), dtype='int')
dfrace['finishers'] = np.array(dfrace.finish == "FIN", dtype='int')
dfrace.participants = dfrace.groupby('racename')['participants'].transform('sum')
dfrace.finishers = dfrace.groupby('racename')['finishers'].transform('sum')

# gender split
dfrace['female'] = np.array(dfrace.gender == 'Female', dtype='int')

# aggregate to race-level
dfrace = dfrace.groupby(['racename', 'venuename', 'seriesid', 'raceyear', \
                         'racedate', 'konayear'],  as_index=False, observed=False)\
                    [['noswim', 'short', 'swimdnf', 'bikednf', \
                      'rundnf', 'dnf', 'dq', 'participants', \
                      'finishers', 'female']].aggregate(np.mean)

# integer vars
for i in ['noswim', 'short', 'participants', 'finishers']:
    dfrace[i] = np.array(dfrace[i], dtype='int')

dfrace.head()

,racename,venuename,seriesid,raceyear,racedate,konayear,noswim,short,swimdnf,bikednf,rundnf,dnf,dq,participants,finishers,female
0,Challenge Weymouth 2014,e Weymouth,54,2014,2014-09-13,-2147483648,0,0,0.011136,0.024499,0.033408,0.069042,0.000000,449,418,0.115813
1,Challenge Weymouth 2015,e Weymouth,54,2015,2015-09-12,-2147483648,0,0,0.009302,0.025581,0.037209,0.074419,0.000000,430,398,0.167442
2,Ironman Argentina 2017,Argentina,63,2017,2017-12-03,-2147483648,0,0,0.000000,0.000000,0.000000,0.000000,0.007851,1019,1011,0.094210
3,Ironman Argentina 2018,Argentina,63,2018,2018-12-02,-2147483648,0,1,0.000000,0.024096,0.028916,0.053012,0.007229,830,780,0.127711
4,Ironman Argentina 2019,Argentina,63,2019,2019-12-01,-2147483648,0,0,0.003135,0.031348,0.067398,0.106583,0.003135,638,568,0.115987

In [24]:
# TODO: fix this inconsistency
df.loc[df.seriesid == 54].racename.value_counts()

Ironman Weymouth 2016      773
Challenge Weymouth 2014    449
Challenge Weymouth 2015    430
Name: racename, dtype: int64

### Set up RD

In [25]:
# add cutoff times to dfs
divlist = ['F18-24', 'F25-29', 'F30-34', 'F35-39', 'F40-44', 'F45-49', 'F50-54', 
           'F55-59', 'F60-64', 'F65-69', 'F70-74', 'F75-79', 'F80+', 'FPC', 'FPRO', 
           'M18-24', 'M25-29', 'M30-34', 'M35-39', 'M40-44', 'M45-49', 'M50-54', 
           'M55-59', 'M60-64', 'M65-69', 'M70-74', 'M75-79', 'M80+', 'M80-84', 'MPC', 'MPRO']
racelist = df.racename.unique()